
.vs/sinclairv3/v16/.suo
.vs/sinclairv3/v16/Browse.VC.db
.vs/sinclairv3/v16/Browse.VC.db-shm
.vs/sinclairv3/v16/Browse.VC.db-wal
.vs/sinclairv3/v16/Browse.VC.opendb
Debug/sinclairv3.dll
Debug/sinclairv3.ilk
Debug/sinclairv3.pdb
sinclairv3/Debug/create_move.obj
sinclairv3/Debug/dllmain.obj
sinclairv3/Debug/draw_crosshair.obj
sinclairv3/Debug/entities.obj
sinclairv3/Debug/frame_stage_notify.obj
sinclairv3/Debug/game.obj
sinclairv3/Debug/get_color_modulation.obj
sinclairv3/Debug/get_cs_wpn_data.obj
sinclairv3/Debug/get_current_game_type.obj
sinclairv3/Debug/hooking.obj
sinclairv3/Debug/is_using_static_prop_debug_modes.obj
sinclairv3/Debug/logger.obj
sinclairv3/Debug/math.obj
sinclairv3/Debug/memory.obj
sinclairv3/Debug/paint.obj
sinclairv3/Debug/pe.obj
sinclairv3/Debug/player.obj
sinclairv3/Debug/props.obj
sinclairv3/Debug/push_notice.obj
sinclairv3/Debug/send_net_msg.obj
sinclairv3/Debug/sinclairv3.dll.recipe
sinclairv3/Debug/sinclairv3.log
sinclairv3/Debug/sinclairv3.tlog/CL.13872.write.1.tlog
sinclairv3/Debug/sinclairv3.tlog/CL.command.1.tlog
sinclairv3/Debug/sinclairv3.tlog/CL.read.1.tlog
sinclairv3/Debug/sinclairv3.tlog/link.command.1.tlog
sinclairv3/Debug/sinclairv3.tlog/link.read.1.tlog
sinclairv3/Debug/sinclairv3.tlog/link.write.1.tlog
sinclairv3/Debug/sinclairv3.tlog/sinclairv3.lastbuildstate
sinclairv3/Debug/util.obj
sinclairv3/Debug/vc142.idb
sinclairv3/Debug/vc142.pdb
sinclairv3/Debug/vsnprintf.obj
sinclairv3/Release/create_move.obj
sinclairv3/Release/dllmain.obj
sinclairv3/Release/draw_crosshair.obj
sinclairv3/Release/entities.obj
sinclairv3/Release/frame_stage_notify.obj
sinclairv3/Release/game.obj
sinclairv3/Release/get_color_modulation.obj
sinclairv3/Release/player.obj
sinclairv3/Release/sinclairv3.log
sinclairv3/Release/sinclairv3.tlog/sinclairv3.lastbuildstate
sinclairv3/Release/sinclairv3.tlog/unsuccessfulbuild
sinclairv3/Release/vc142.pdb
Release/sinclairv3.dll
Release/sinclairv3.iobj
Release/sinclairv3.ipdb
Release/sinclairv3.pdb
sinclairv3/Release/get_cs_wpn_data.obj
sinclairv3/Release/get_current_game_type.obj
sinclairv3/Release/hooking.obj
sinclairv3/Release/is_using_static_prop_debug_modes.obj
sinclairv3/Release/logger.obj
sinclairv3/Release/math.obj
sinclairv3/Release/memory.obj
sinclairv3/Release/paint.obj
sinclairv3/Release/pe.obj
sinclairv3/Release/props.obj
sinclairv3/Release/push_notice.obj
sinclairv3/Release/send_net_msg.obj
sinclairv3/Release/sinclairv3.dll.recipe
sinclairv3/Release/sinclairv3.tlog/CL.17852.write.1.tlog
sinclairv3/Release/sinclairv3.tlog/CL.command.1.tlog
sinclairv3/Release/sinclairv3.tlog/CL.read.1.tlog
sinclairv3/Release/sinclairv3.tlog/link.command.1.tlog
sinclairv3/Release/sinclairv3.tlog/link.read.1.tlog
sinclairv3/Release/sinclairv3.tlog/link.write.1.tlog
sinclairv3/Release/sinclairv3.tlog/sinclairv3.write.1u.tlog
sinclairv3/Release/util.obj
sinclairv3/Release/vsnprintf.obj
